/.project
/.settings/
/support-api/.classpath
/support-api/.project
/support-api/.settings/
/support-api/target/
/support-business/.classpath
/support-business/.project
/support-business/.settings/
/support-business/target/
/support-core/.classpath
/support-core/.project
/support-core/.settings/
/support-core/target/
/support-model/.classpath
/support-model/.project
/support-model/.settings/
/support-model/target/
